/* Container */
.containerh {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.big-container{
  display: flex;
  gap: 20px;
}
.big-container img{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Header */
.header {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.header h1 {
  stroke: red;
  stroke-width: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.header p {
  color: #666;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
}

.form {
  margin-bottom: 20px;
}

.form h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}

/* Form Inputs */
label {
  font-size: 14px;
  color: #555;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}
input{
  outline: none;
}
p {
  font-size: 14px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}