/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #333;
  background-image: url("https://cdn.prod.website-files.com/5d4c101771ecafe872b3098a/66dec1b818f8d7b956139f85_65e1b0529db64df0357922f8_Visuals%2520Webflow%2520Glossary%2520(10).jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  background-blend-mode: normal;
  align-content: space-between;
}
#header-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 90%;
}
.header-nav {
  display: flex; /* Use flexbox for alignment */
  flex-direction: row; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text within each element */
  gap: 30px; /* Add spacing between elements */
  width: 90%;
  background-color: white;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.header-nav > * {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
.header-nav a {
  color: black;
  text-decoration: none;
}
